@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    display: flex;
    align-items: center;
    justify-content: right;
    min-height: 100vh;
    background: #220537;    
  }


  .left-top {
    height: 10vh;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .right-top {
    height: 10vh;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .balken {
    position: absolute;
    top: 10vh;
    width: 100vw; /* Die Breite des Balkens nimmt 100% der Breite der Webseite ein */
    height: 5vh; /* Höhe des Balkens */
    background-color: #560192; /* Farbe des Balkens */
    margin: 0; /* Entfernt Abstände um den Balken herum */
    padding: 0; /* Entfernt Füllungen im Balken */
    box-sizing: border-box; /* Stellt sicher, dass Padding und Border in der Breite enthalten sind */
    display: flex; /* Flexbox zur Anordnung der Links */
    justify-content: center; /* Zentriert die Links horizontal */
    align-items: center; /* Zentriert die Links vertikal */
  }
  
  .balken a {
    color: #5afff5; /* Textfarbe der Links */
    text-decoration: none; /* Entfernt die Unterstreichung der Links */
    margin: 0 7%; /* Abstand zwischen den Links */
    font-size: 3vh; /* Schriftgröße der Links */
    font-family: "Lato", sans-serif; /*Schriftart*/
    font-weight: bold;
  }
  
  .balken a:hover {
    text-decoration: underline; /* Unterstreichung bei Hover */
  }
  
  .balken2 {
    background-color: #560192;
    width: 100vw; /* Die Breite des Balkens nimmt 100% der Breite der Webseite ein */
    height: 2vh; /* Höhe des Balkens */
    margin: 0; /* Entfernt Abstände um den Balken herum */
    padding: 0; /* Entfernt Füllungen im Balken */
    box-sizing: border-box; /* Stellt sicher, dass Padding und Border in der Breite enthalten sind */
    bottom: 10vh;
    position: fixed;
  }
  
  .balken3 {
    background-color:#220537;
    width: 100%; /* Die Breite des Balkens nimmt 100% der Breite der Webseite ein */
    height: 9vh; /* Höhe des Balkens */
    margin: 0; /* Entfernt Abstände um den Balken herum */
    padding: 0; /* Entfernt Füllungen im Balken */
    box-sizing: border-box; /* Stellt sicher, dass Padding und Border in der Breite enthalten sind */
    margin-top: 0px;
    bottom: 0px;
    position: fixed;
    display: flex; /* Flexbox zur Anordnung der Links */
    justify-content: center; /* Zentriert die Links horizontal */
    align-items: top; /* Zentriert die Links vertikal */
  }
  
  .balken3 a {
    color: #ffffff; /* Textfarbe der Links */
    text-decoration: none; /* Entfernt die Unterstreichung der Links */
    margin: 0 5%; /* Abstand zwischen den Links */
    font-size: 3vh; /* Schriftgröße der Links */
    font-family: "Lato", sans-serif; /*Schriftart*/
    font-weight: bold;
  }
  
  .balken3 a:hover {
    text-decoration: underline; /* Unterstreichung bei Hover */
  }