/* Hauptlayout: Content-Wrapper */
.content-wrapper {
    display: flex; /* Horizontale Anordnung */
    justify-content: flex-start; /* Inhalt am oberen Rand ausrichten */
    align-items: center; /* Startet Inhalte oben */
    padding: 20px;
    gap: 60px; /* Abstand zwischen Filter und Filmen */
}

::-webkit-scrollbar {
    width: 10px;
    /* Breite der Scrollbar */
}

/* Hintergrund der Scrollbar */
::-webkit-scrollbar-track {
    background: #b089f2;
    border-radius: 10px;
}

/* Scroll-Leiste */
::-webkit-scrollbar-thumb {
    background: white;
    /* Farbe der Scroll-Leiste */
    border-radius: 10px;
}

/* Scroll-Leiste beim Hover */
::-webkit-scrollbar-thumb:hover {
    background: #5afff5;
    /* Farbe der Scroll-Leiste beim Hover */
}

.film-name {
    text-align: center;
    /* Text innerhalb des div zentrieren */
    font-size: 1.5em;
    font-family: "Lato", sans-serif;
    /Schriftart/
    letter-spacing: 0.12em;
    font-weight: 1500;
    color: white;
    -webkit-text-stroke: 1.7px white;
    margin-top: 1vh;
}

/* Filterkasten */
.filter-box {
    width: 220px;
    background-color: #560192;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    /* Flex für die enthaltenen Elemente */
    justify-content: flex-start;
    /* Elemente nach links ausrichten */
}

.filter-box h2 {
    font-size: 1.2em;
    color: #88e4ff;
    margin-bottom: 20px;
}

.filter-container {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Abstand zwischen den Dropdowns */
    padding: 20px;
    background-color: #560192;
    border-radius: 10px;
    color: white;
}

.filter-container label {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.filter-container select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #88e4ff;
    color: Black;
}

.left-aligned {
    display: flex;
    /* Flex für die enthaltenen Elemente */
    justify-content: flex-start;
    /* Elemente nach links ausrichten */
    width: 100%;
    /* Nimmt die volle Breite ein */

}

/* Filme-Container */
.film-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 Filme pro Reihe */
    gap: 20px;
    max-width: 800px; /* Begrenzte Breite für Filme */
}

.movie-card {
    background-color: #560192;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.movie-card img {
    width: 150px;
    height: 225px;
    border-radius: 5px;
}

.movie-card a {
    text-decoration: none;
    color: #88e4ff;
    display: block;
    margin-top: 10px;
    font-size: 0.9em;
    font-weight: bold;
}