@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  align-items: center;
  justify-content: right;
  min-height: 100vh;
  background: #220537;    
}

.container {
  max-width: 1500px;
  width: 60vw;
  position: relative;
  margin-right: 5vw;
  height: 45vh;
}


.sliding-wrapper .slide-button {
  height: 50px;
  width: 50px;
  color: #fff;
  background: none;
  font-size: 2.2rem;
  cursor: pointer;
  border: none;
  opacity: 0.6;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

}

.slide-button {
  position: relative;
}

.sliding-wrapper .slide-button:hover{
  opacity: 1;
}

.sliding-wrapper .slide-button#prev-slide{
  left: -60px;

}

.sliding-wrapper .slide-button#next-slide{
  right: -60px;
}

.sliding-wrapper .image-list {
  display: grid;
  gap: 18px;
  grid-template-columns: repeat(10, 1fr);
  font-size: 0;
  overflow-x: auto;
  scrollbar-width: none;

}      



.sliding-wrapper .image-list .image-item{
    width: 90vh;
    height: 45vh;
    object-fit: cover;
}

.image-container {
  position: relative; /* Positionierung relativ zum übergeordneten Element */
  display: inline-block;
}


.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%; /* Größe des Playbuttons */
  height: 80%;
  transform: translate(-50%, -50%);
  opacity: 0; /* Unsichtbar, solange nicht gehovered */
  transition: opacity 0.3s ease; /* Weicher Übergang beim Hover */
  cursor: pointer;
  
}

.image-container:hover .play-button {
  opacity: 0.8; /* Sichtbar beim Hover */
}

.sliding-wrapper .image-list::-webkit-scrollbar{
  display: none;

}




.left-top {
  height: 10vh;
  position: absolute;
  top: 0;
  left: 0;
}

.right-top {
  height: 10vh;
  position: absolute;
  top: 0;
  right: 0;
}

.balken {
  position: absolute;
  top: 10vh;
  width: 100vw; /* Die Breite des Balkens nimmt 100% der Breite der Webseite ein */
  height: 5vh; /* Höhe des Balkens */
  background-color: #560192; /* Farbe des Balkens */
  margin: 0; /* Entfernt Abstände um den Balken herum */
  padding: 0; /* Entfernt Füllungen im Balken */
  box-sizing: border-box; /* Stellt sicher, dass Padding und Border in der Breite enthalten sind */
  display: flex; /* Flexbox zur Anordnung der Links */
  justify-content: right; /* Zentriert die Links horizontal */
  align-items: center; /* Zentriert die Links vertikal */
}

.balken a {
  color: #5afff5; /* Textfarbe der Links */
  text-decoration: none; /* Entfernt die Unterstreichung der Links */
  margin: 0 5vw; /* Abstand zwischen den Links */
  font-size: 3vh; /* Schriftgröße der Links */
  font-family: "Lato", sans-serif; /*Schriftart*/
  font-weight: bold;
}

.balken a:hover {
  text-decoration: underline; /* Unterstreichung bei Hover */
}

.balken2 {
  background-color: #560192;
  width: 100vw; /* Die Breite des Balkens nimmt 100% der Breite der Webseite ein */
  height: 2vh; /* Höhe des Balkens */
  margin: 0; /* Entfernt Abstände um den Balken herum */
  padding: 0; /* Entfernt Füllungen im Balken */
  box-sizing: border-box; /* Stellt sicher, dass Padding und Border in der Breite enthalten sind */
  bottom: 10vh;
  position: fixed;
}

.balken3 {
  background-color:#220537;
  width: 100%; /* Die Breite des Balkens nimmt 100% der Breite der Webseite ein */
  height: 9vh; /* Höhe des Balkens */
  margin: 0; /* Entfernt Abstände um den Balken herum */
  padding: 0; /* Entfernt Füllungen im Balken */
  box-sizing: border-box; /* Stellt sicher, dass Padding und Border in der Breite enthalten sind */
  margin-top: 0px;
  bottom: 0px;
  position: fixed;
  display: flex; /* Flexbox zur Anordnung der Links */
  justify-content: center; /* Zentriert die Links horizontal */
  align-items: top; /* Zentriert die Links vertikal */
}

.balken3 a {
  color: #ffffff; /* Textfarbe der Links */
  text-decoration: none; /* Entfernt die Unterstreichung der Links */
  margin: 0 5vw; /* Abstand zwischen den Links */
  font-size: 3vh; /* Schriftgröße der Links */
  font-family: "Lato", sans-serif; /*Schriftart*/
  font-weight: bold;
}

.balken3 a:hover {
  text-decoration: underline; /* Unterstreichung bei Hover */
}

    

      