@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  align-items: center;
  justify-content: right;
  min-height: 100vh;
  background: #220537;
}

.container {
  max-width: 1500px;
  width: 60vw;
  position: relative;
  margin-right: 5vw;
  height: 45vh;
}
.Ãœberschrift {
  position: fixed;
  top: 15pt;
  left: 33vw;
  display: block;
  background-color: #220537;
  width: 600px;
  height: 50px;
  text-align: center; /* Zentriert den Text horizontal */
  line-height: 52px; /* Setzt die ZeilenhÃ¶he gleich der HÃ¶he der Box fÃ¼r vertikale Zentrierung */
}

.Ticketinfo-container {
  position: fixed;
  top: 110pt;
  left: 25pt;
  display: block;
  background-color: #560192;
  /* width: 400px;  */
  width: 25vw;
  height: 50px;
  text-align: center; /* Zentriert den Text horizontal */
  line-height: 52px; /* Setzt die ZeilenhÃ¶he gleich der HÃ¶he der Box fÃ¼r vertikale Zentrierung */
}

.PersÃ¶nlicheDaten-container {
  position: fixed;
  top: 110pt;
  /*left: 390pt;*/
  right: 32vw;
  display: block;
  background-color: #560192;
  /* width: 1000px;  */
  width: 40vw;
  height: 50px;
  text-align: center; /* Zentriert den Text horizontal */
  line-height: 50px; /* Setzt die ZeilenhÃ¶he gleich der HÃ¶he der Box fÃ¼r vertikale Zentrierung */
}

.ticketanzahl-container {
  position: fixed;
  top: 110pt;
  /*left: 390pt;*/
  right: 25pt;
  display: block;
  background-color: #560192;
  /* width: 1000px;  */
  width: 400px;
  height: 50px;
  text-align: center; /* Zentriert den Text horizontal */
  line-height: 50px; /* Setzt die ZeilenhÃ¶he gleich der HÃ¶he der Box fÃ¼r vertikale Zentrierung */
}









.PersÃ¶-container {
  display: flex;
  flex-direction: column; /* Stellt sicher, dass alle Elemente untereinander angeordnet sind */
  width: 300px; /* Breite des Containers anpassen */
  margin: 20px; /* AuÃŸenabstand */
  position: fixed;
  top: 150pt;
  right: 30vw;
  width: 40vw;
  height: 400px;

}

.name-container {
  display: flex; /* Flexbox aktivieren fÃ¼r die Namensfelder */
  justify-content: space-between; /* Verteilung des Raums zwischen den Eingabefeldern */
}

.StraHaus-container {
  display: flex; /* Flexbox aktivieren fÃ¼r die Namensfelder */
  justify-content: space-between; /* Verteilung des Raums zwischen den Eingabefeldern */
}

.plz-ort-container {
  display: flex; /* Flexbox aktivieren fÃ¼r PLZ und Ort */
  justify-content: space-between; /* Verteilung des Raums zwischen den Eingabefeldern */
}

.Telemail-container {
  display: flex; /* Flexbox aktivieren fÃ¼r die Namensfelder */
  justify-content: space-between; /* Verteilung des Raums zwischen den Eingabefeldern */
}

input {
  width: 100%; /* Breite der Eingabefelder auf 100% setzen */
  padding: 10px; /* Innenabstand */
  margin: 5px 0; /* AuÃŸenabstand */
  border: 1px solid #560192; /* Rahmen fÃ¼r die Eingabefelder */
  /*border-radius: 5px; /* Abgerundete Ecken */
  background-color: #560192;
  color: white;

}

input::placeholder {
  color: white; /* Beispiel: Grau fÃ¼r den Platzhaltertext */
  opacity: 0.8; /* Stellen Sie sicher, dass die OpazitÃ¤t auf 1 gesetzt ist, um die Farbe vollstÃ¤ndig sichtbar zu machen */
}

input[type="text"] {
  flex-basis: 48%; /* Basisbreite fÃ¼r die Eingabefelder */
}










.Platzreservierung-container {
  position: fixed;
  /*top: 400pt;*/
  /* left: 1125pt;  */
  top: 56vh;
  right: 25pt;
  display: block;
  background-color: #5afff5;
  width: 400px;
  height: 50px;
  text-align: center; /* Zentriert den Text horizontal */
  line-height: 50px; /* Setzt die ZeilenhÃ¶he gleich der HÃ¶he der Box fÃ¼r vertikale Zentrierung */
}

.Gesamtpreis-container {
  position: fixed;
  /*top: 450pt;
  /* left: 1125pt;  */
  top: 64vh;
  right: 25pt;
  display: block;
  background-color: #560192; /*#cccccc;*/
  width: 400px;
  height: 50px;
  text-align: center; /* Zentriert den Text horizontal */
  line-height: 50px; /* Setzt die ZeilenhÃ¶he gleich der HÃ¶he der Box fÃ¼r vertikale Zentrierung */
}
.Gutscheincode-container {
  position: fixed;
  /*top: 450pt;
  /* left: 1125pt;  */
  top: 65vh;
  right: 53vw; /*615pt;
  /*display: block;
  background-color: #560192; /*#cccccc;*/
  width: 400px;
  height: 50px;
  text-align: center; /* Zentriert den Text horizontal */
  line-height: 50px; /* Setzt die ZeilenhÃ¶he gleich der HÃ¶he der Box fÃ¼r vertikale Zentrierung */
}



.input-container {
  /*border: 1px solid #ccc; /* Rahmen */
  padding: 10px; /* Innenabstand */
  margin: 10px; /* AuÃŸenabstand */
  /*background-color: #f9f9f9; /* Hintergrundfarbe */
  border-radius: 5px; /* Abgerundete Ecken */
  max-width: 400px; /* Maximale Breite */
  position: fixed;
  top: 62vh;
  right: 41vw;
}

input {
  width:  calc(100% - 120px); /*100%; /* Breite auf 100% setzen */
  padding: 10px; /* Innenabstand */
  margin: 10px 0; /* AuÃŸenabstand */
  border: 1px solid #ccc; /* Rahmen fÃ¼r das Eingabefeld */
  /*border-radius: 5px; /* Abgerundete Ecken */
}

input:hover {
  background-color: mediumslateblue; /* Hintergrundfarbe beim Hover */
  transform: scale(1.05); /* Leichte VergrÃ¶ÃŸerung beim Hover */
}












.Preis-container {
  position: fixed;
  /*top: 500pt;
  /* left: 1125pt;  */
  top: 72vh;
  right: 25pt;
  display: block;
  background-color: #560192; /*#cccccc;*/
  width: 400px;
  height: 50px;
  text-align: center; /* Zentriert den Text horizontal */
  line-height: 50px; /* Setzt die ZeilenhÃ¶he gleich der HÃ¶he der Box fÃ¼r vertikale Zentrierung */
}

.ticket h2 {
  /*display: inline-block; /* Elemente nebeneinander anzeigen */
  /*margin-right: 100px; /* Abstand zwischen den Headern */
  margin: 0;
}

.ticket h2:first-child {
  margin-right: 50px;/*250px; /* Abstand zwischen Ticketbezeichnung und Preis */
}

.BestÃ¤tigen-container {
  position: fixed;
  /*top: 550pt;
  /* left: 1125pt;  */
  top: 80vh;
  right: 25pt;
  display: block;
  background-color: #5afff5;
  width: 400px;
  height: 50px;
  text-align: center; /* Zentriert den Text horizontal */
  line-height: 50px; /* Setzt die ZeilenhÃ¶he gleich der HÃ¶he der Box fÃ¼r vertikale Zentrierung */
  transition: background-color 0.3s, transform 0.3s; /* Sanfter Ãœbergang fÃ¼r Hintergrundfarbe und Skalierung */
}

.BestÃ¤tigen-container:hover {
  background-color: #4ac3d3; /* Hintergrundfarbe beim Hover */
  transform: scale(1.05); /* Leichte VergrÃ¶ÃŸerung beim Hover */
}

/*
.Bezahlvorgang-container {
  position: fixed;
  /*top: 550pt;
  /* left: 1125pt;  */
  /*top: 80vh;
  right: 25pt;
  display: block;
  background-color: #5afff5;
  width: 400px;
  height: 50px;
  text-align: center; /* Zentriert den Text horizontal */
  /*line-height: 50px; /* Setzt die ZeilenhÃ¶he gleich der HÃ¶he der Box fÃ¼r vertikale Zentrierung */
/*}
/*
.Ticketanzahl-container {
  position: fixed;
  bottom: 40vh;
  right: /*10vw;
  /* left: 1125pt;  */
  /*right: 25pt;*/
  /*display: block;
  background-color: #560192;
  width: 400px;
  height: 50px;
  text-align: center; /* Zentriert den Text horizontal */
 /* line-height: 52px; /* Setzt die ZeilenhÃ¶he gleich der HÃ¶he der Box fÃ¼r vertikale Zentrierung */
/*}*/



.Tiinfo-container {
  position: fixed;
  top: 155pt;
  left: 25pt;
  display: block;
  background-color: #560192;
  /* width: 400px; */
  width: 25vw;
  height: 400px;
  text-align: center; /* Zentriert den Text horizontal */
  line-height: 500px; /* Setzt die ZeilenhÃ¶he gleich der HÃ¶he der Box fÃ¼r vertikale Zentrierung */
}

.Tianz-container {
  position: fixed;
  top: 155pt;
  /* left: 350pt;  */
  left: 390pt;
  /* right: 25pt;  */
  display: block;
  background-color: #560192;
  /* width: 1000px; */
  width: 40vw;
  height: 500px;
  text-align: center; /* Zentriert den Text horizontal */
  line-height: 500px; /* Setzt die ZeilenhÃ¶he gleich der HÃ¶he der Box fÃ¼r vertikale Zentrierung */
}

.Plainfo-container {
  position: fixed;
  top: 155pt;
  /* left: 1125pt;  */
  right: 25pt;
  display: block;
  background-color: #560192;
  width: 400px;
  height: 625px;
  text-align: center; /* Zentriert den Text horizontal */
  line-height: 625px; /* Setzt die ZeilenhÃ¶he gleich der HÃ¶he der Box fÃ¼r vertikale Zentrierung */
}




button {
  font-size: 20px;
  margin: 10px; /* Abstand um die Buttons */
}


.left-top {
  height: 10vh;
  position: absolute;
  top: 0;
  left: 0;
}

.right-top {
  height: 10vh;
  position: absolute;
  top: 0;
  right: 0;
}

.balken {
  position: absolute;
  top: 10vh;
  width: 100vw; /* Die Breite des Balkens nimmt 100% der Breite der Webseite ein */
  height: 5vh; /* HÃ¶he des Balkens */
  background-color: #560192; /* Farbe des Balkens */
  margin: 0; /* Entfernt AbstÃ¤nde um den Balken herum */
  padding: 0; /* Entfernt FÃ¼llungen im Balken */
  box-sizing: border-box; /* Stellt sicher, dass Padding und Border in der Breite enthalten sind */
  display: flex; /* Flexbox zur Anordnung der Links */
  justify-content: center; /* Zentriert die Links horizontal */
  align-items: center; /* Zentriert die Links vertikal */
}

.balken a {
  color: #5afff5; /* Textfarbe der Links */
  text-decoration: none; /* Entfernt die Unterstreichung der Links */
  margin: 0 7%; /* Abstand zwischen den Links */
  font-size: 3vh; /* SchriftgrÃ¶ÃŸe der Links */
  font-family: "Lato", sans-serif; /*Schriftart*/
  font-weight: bold;
}

.balken a:hover {
  text-decoration: underline; /* Unterstreichung bei Hover */
}

.balken2 {
  background-color: #560192;
  width: 100vw; /* Die Breite des Balkens nimmt 100% der Breite der Webseite ein */
  height: 2vh; /* HÃ¶he des Balkens */
  margin: 0; /* Entfernt AbstÃ¤nde um den Balken herum */
  padding: 0; /* Entfernt FÃ¼llungen im Balken */
  box-sizing: border-box; /* Stellt sicher, dass Padding und Border in der Breite enthalten sind */
  bottom: 10vh;
  position: fixed;
}

.balken3 {
  background-color:#220537;
  width: 100%; /* Die Breite des Balkens nimmt 100% der Breite der Webseite ein */
  height: 9vh; /* HÃ¶he des Balkens */
  margin: 0; /* Entfernt AbstÃ¤nde um den Balken herum */
  padding: 0; /* Entfernt FÃ¼llungen im Balken */
  box-sizing: border-box; /* Stellt sicher, dass Padding und Border in der Breite enthalten sind */
  margin-top: 0px;
  bottom: 0px;
  position: fixed;
  display: flex; /* Flexbox zur Anordnung der Links */
  justify-content: center; /* Zentriert die Links horizontal */
  align-items: top; /* Zentriert die Links vertikal */
}

.balken3 a {
  color: #ffffff; /* Textfarbe der Links */
  text-decoration: none; /* Entfernt die Unterstreichung der Links */
  margin: 0 5%; /* Abstand zwischen den Links */
  font-size: 3vh; /* SchriftgrÃ¶ÃŸe der Links */
  font-family: "Lato", sans-serif; /*Schriftart*/
  font-weight: bold;
}

.balken3 a:hover {
  text-decoration: underline; /* Unterstreichung bei Hover */
}



.ticket-selection {
  margin: 20px;
  position: fixed; /* Setzt die Position relativ */
  bottom: 45vh; /*2vh;/*5pt;*/
  right: 10vw; /* 40vw; /*920px; /*1125px; /* Verschiebt den gesamten Block um 50px nach rechts */
  color: #cccccc;
}
.ticket {
  /*margin-bottom: 20px;*/
  padding: 5px;
  /*border: 1px solid #ccc;*/
  border-radius: 5px;

  display: flex; /* Flexbox aktivieren */
  align-items: center; /* Vertikale Ausrichtung auf die Mitte */
  justify-content: space-between; /* Platz zwischen den Elementen */
  margin-bottom: 3px; /* Abstand zwischen den Ticket-Containern */
}


#totalPrice {
  margin-top: 20px;
}


.calculate-price {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns items to the start */
}

